<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bài tập ngữ pháp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">

  </style>
</head>
<body>

<div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="width: 80%;margin-left: 10%;">
   
   
          <div class="panel panel-info">

            <div class="panel-heading">
               <div class="row">
                    <div class="col-sm-9"><h3 class="panel-title">Bài tập Ngữ pháp tiếng Anh lớp 6 unit 1 số 1</h3></div>

                  <div class="col-sm-3" >
                     <div class="btn-group" style="float: right;">
                        <button type="button" class="btn btn-info">Tổng thể</button>
                        <button type="button" class="btn btn-success">Từng câu</button>
                     </div>
                  </div>

               </div>
                 
            </div>

            <div class="panel-body">

               <ul class="list-group" style="border: 0px;margin-top: -2%;">
                  <li class="list-group-item" style="border: 0px;"><h3>Ngữ pháp</h3></li>
                   <li class="list-group-item" style="border: 0px;">
                      <audio controls>
                        <source src="NguoiXaLa-DinhKienPhong-3060061.mp3" type="audio/mpeg">
                     </audio>
                   </li>
                  <li class="list-group-item" style="border: 0px;margin-top: -1%;"><p>Hãy hoàn tất các câu sau bằng cách chọn đáp án đúng:</p></li>
                  <li class="list-group-item" style="border: 0px;margin-top: -1%;"> 1. Hello, I _____Mai.</li>
               </ul>

               <div class="well well-sm" style="margin-top:-1%;">A. is</div>
               <div class="well well-sm" style="margin-top:-1%;">B. am</div>
                <div class="well well-sm" style="margin-top:-1%;">C. was</div>
               <div class="well well-sm" style="margin-top:-1%;">D. were</div>

               <ul class="pager" style="margin:0">
                  <li class="previous"><a href="#">Previous</a></li>
                  <li class="next"><a href="#">Next</a></li>
               </ul>

            </div>

            <div class="panel-footer">

                  <div class="text-center">
                      <ul class="pagination" style="padding: 0px;margin:0;">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                     </ul>
                  </div>

            </div>
            
          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript"></script>>
</body>
</html>